.login-view {
    background-color: grey;
}

.mx-auto {
    color: black;
}

.formUsername {
    color: black; 
}

.Form {
   padding-top:20%
}

.form_Pw {
    padding-top: 5%
}

.Button_Register {
    padding-bottom: 10%;
}

.Submit {
    padding-top: 20%;
}
